@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    --cor-secundaria: #FDF0D1;
    --cor-hover:#85586F;

    --fonte-titulo:'Krona One', sans-serif;
    --fonte-paragrafo:'Montserrat', sans-serif;

    }
*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-image: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho {
padding: 5% 0% 0% 15% ;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
font-family: var(--fonte-paragrafo);
color:var(--cor-terciari);
font-size: 24px;
font-weight: 400;
text-decoration: inherit;
}
.apresentacao{
    /* margin: 10% 15%; */
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-titulo);
}
.titulo-destaque{
    color: var(--cor-terciari);
}
.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--fonte-paragrafo);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.apresentação__links__subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__links__link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px ridge var(--cor-terciari);
    width: 280px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: inherit;
    color: var(--cor-secundaria);
    font-family: var(--fonte-paragrafo);
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}
.redape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciari);
    text-align: center;
    font-family: var(--fonte-paragrafo);
    font-size: 24px;
    font-weight: 400;
}